---
import { getCollection } from 'astro:content';
import BaseHead from '../components/BaseHead.astro';
import FormattedDate from '../components/FormattedDate.astro';
import { SITE_DESCRIPTION, SITE_TITLE } from '../consts';

const posts = (await getCollection('blog')).sort(
	(a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf(),
);
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<main class="max-w-2xl mx-auto px-4 py-12">
			<section>
				<ul class="flex flex-col gap-8 list-none m-0 p-0">
					{
						posts.map((post) => (
							<li>
								<a href={`/blog/${post.id}/`} class="flex flex-col gap-2 no-underline group">
									<h4 class="m-0 text-xl font-semibold leading-snug text-gray-900 group-hover:text-blue-600 transition-colors">
										{post.data.title}
									</h4>
									<p class="m-0 text-sm text-gray-500">
										<FormattedDate date={post.data.pubDate} />
									</p>
								</a>
							</li>
						))
					}
				</ul>
			</section>
		</main>
	</body>
</html>
